<!DOCTYPE html>

[% MACRO script(basename) IF debug_frontend %]
<script src="[% basename %].js"></script>
[% ELSE %]
<script src="[% basename %].min.js"></script>
[% END %]

<html ng-app="dashboardApp">
<head>
    <title>[% title %]</title>
    [% PROCESS javascript %]
</head>
    <body>
        [% content %]
    </body>
</html>
[% BLOCK javascript %][% END %]
