@import url("//fonts.googleapis.com/css?family=Open+Sans:b,i,bi");

body {
    font-family: "Open Sans", sans-serif;
}

.db-top {
    padding: 5px;
}

.db-column {
    border: 0px solid;
    height: 100%;
}

.db-card-content {
    padding: 10px;
}

.db-card-content span {
    padding: 3px;
}

.db-card-content div {
    display: table-row;
}

.db-card-content span {
    font-size: 80%;
    display: table-cell;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
}

.db-column-content {
    min-height: 100px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.db-lv-first-col {
    float: left;
    display: block;
    /*overflow: hidden;*/
    height: 100%;
    min-width: 316px;
}

.db-lv-avatars {
    margin-left: 320px;
    overflow: hidden;
    display: block;
}

.db-lv-avatar-card {
    width: 200px;
    float: left;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.db-lv-avatar-img {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    margin: 5px;
}

.db-history .db-items {
    white-space: pre-line;
    font-size: 60%;
    line-height: normal;
}

.db-history {
    margin-top: 1em;
    max-height: 300px;
    overflow: scroll;
}






/* ***** */

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
}

.as-sortable-item-handle {
    cursor: move;
}

.as-sortable-placeholder {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0);
    border: dashed 1px;
}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;

    display: table;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0);
}

.as-sortable-hidden {
    display: none !important;
}

/* ***** */

.as-sortable-drag md-card {
    border-collapse: separate;
    border-spacing: 10px;
}

md-toolbar {
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;
    min-height: 64px;
}

.md-toolbar-tools {
    max-height: none;
    height: auto;
    min-height: 64px;
}

.md-button > .fa {
    font-size: 150%;
}
