<div class="db-top" layout="row" layout-sm="column">
    <div class="db-column-wrap" flex="20" flex-sm="100" ng-repeat="column in columns">
        <md-card class="db-lv-first-col">
            <md-toolbar class="ui-state-disabled md-hue-2">
                <div class="md-toolbar-tools">
                  <span class="md-flex">{{column.name}}</span>
                </div>
            </md-toolbar>

            <div class="db-column-content" ng-model="column.tickets" ng-sortable="column_sortable(column)">
                <md-card class="db-ticket-card" ng-repeat="ticket_id in column.tickets | unique" ng-class="{'db-ticket-card--odd': $odd}" ng-model="column.tickets" ng-click="show_popup(ticket_id, $event)">
                    <md-card-content ng-include="'/partials/ticket-card.html'">
                    </md-card-content>
                </md-card>
            </div>
        </md-card>
    </div>
</div>
