<div ng-include src="'partials/toolbar.html'"></div>

<div class="db-table" style="width: 100%;" ng-model="columns[column_id].tickets">
    <md-card class="db-lv-first-col" ng-repeat="column_id in col_ids">
        <md-toolbar class="ui-state-disabled">
            <div class="md-toolbar-tools">
              <span class="md-flex">{{columns[column_id].name}}</span>
            </div>
        </md-toolbar>

        <div class="db-column-content">
            <md-card class="db-card" ng-repeat="ticket_id in columns[column_id].tickets" ng-model="columns[column_id].tickets" ng-click="show_popup(ticket_id)" data-drag="true" jqyoui-draggable="{onStart: 'onDragStart', index: $index}" data-jqyoui-options="{ revert: 'invalid' }">
                <md-toolbar class="md-warn noselect">
                    <div class="md-toolbar-tools" ng-include="'/templates/ticket-card.html'">
                    </div>
                </md-toolbar>
            </md-card>
        </div>
    </md-card>

    <div class="db-lv-user-avatars">
        <md-card class="db-lv-avatar-card" ng-repeat="(user_id,user) in users" data-drop="true" jqyoui-droppable="{onDrop: 'onDrop'}" ng-model="temp">
            <div class="db-lv-avatar-img" ng-attr-style="background-image: url({{user.avatar}});/">
            </div>
            <md-toolbar class="md-warn noselect">
                <div class="md-toolbar-tools">
                  <span class="md-flex">{{user.first_name}} {{user.last_name}}</span>
                </div>
            </md-toolbar>
        </md-card>
    </div>
</div>
