<div id="login-screen" layout="row" layout-align="center center">
    <md-card flex="33" flex-sm="90">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Log In</span>
                </h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form ng-submit="submit()" layout="column">
                <md-input-container md-no-float class="md-block">
                    <md-icon class="fa-user"></md-icon>
                    <input ng-model="credentials.login" placeholder="Username" />
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <md-icon class="fa-key"></md-icon>
                    <input ng-model="credentials.password" type="password" placeholder="Password" />
                </md-input-container>
                <md-button class="md-primary" type="submit">Log in</md-button>
            </form>
        </md-card-content>
    </md-card>
</div>
