 <div layout="row" layout-align="center center">
	<div layout="column" flex="40">
		<div>
			<md-input-container>
				<label>Query</label>
				<md-select ng-model="query">
					<md-option ng-repeat="query in config.queries" value="{{$index}}">
					{{query.descr}}
					</md-option>
				</md-select>
			</md-input-container>

			<md-input-container>
				<label>Department</label>
				<md-select ng-model="department">
					<md-option value="">None</md-option>
					<md-option ng-repeat="department in config.departments" value="{{$index}}">
					{{department.descr}}
					</md-option>
				</md-select>
			</md-input-container>

			<md-button class="md-raised md-primary" ng-click="update_data()">Update</md-button>
		</div>
		<div>
			<h3>Grouping:</h3>
			<md-radio-group ng-model="grouping" layout="row">
				<md-radio-button value="">None</md-radio-button>
				<md-radio-button value="Creator">Creator</md-radio-button>
				<md-radio-button value="Owner">Owner</md-radio-button>
				<md-radio-button value="Status">Status</md-radio-button>
				<md-radio-button value="Queue">Queue</md-radio-button>
				<md-radio-button value="DateCreated">Date Created</md-radio-button>
			</md-radio-group>
		</div>
        
        <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!is_loaded" layout-margin>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
		
		<div ng-if="is_loaded">
			<div>
				<canvas ng-if="chart_data.length > 0" id="line" class="chart chart-line" chart-data="chart_data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" >
				</canvas>
			</div>

			<div>
				<h3>Series:</h3>
				<div ng-repeat="(group,value) in groups">
					<md-checkbox ng-model="groups[group]" ng-change="checkbox_change()">{{group}}</md-checkbox>
				</div>
			</div>

			<div>
				<h3>Data:</h3>
				<md-data-table-container>
					<table md-data-table>
						<thead ng-repeat-start="group in series">
							<tr>
								<th colspan="4"><h4>{{group}}</h4></th>
							</tr>
						<tr>
							<th>ID</th><th>Subject</th><th>Owner</th><th>Creator</th>
						</tr>
					</thead>
						<tbody ng-repeat="(key, array) in data[ group ]" ng-repeat-end>
						<tr ng-repeat="item in array">
							<td>{{item.id}}</td><td>{{item.Subject}}</td><td>{{item.Owner}}</td><td>{{item.Creator}}</td>
						</td>
					</tbody>
					</table>
				</md-data-table-container>
			</div>
		</div>
	</div>
</div>
