<div class="db-card-content">
    <div>
        <span>Status:</span>
        <span><select ng-init="update_dialog.status = ngDialogData.ticket.Status" ng-model="update_dialog.status" ng-options="status as status for status in statuses"></select></span>
    </div>
    <div>
        <span>Queue:</span>
        <span><select ng-init="update_dialog.queue = ngDialogData.ticket.Queue" ng-model="update_dialog.queue" ng-options="queue.name as queue.name for queue in queues"></select></span>
    </div>
    <div>
        <span>Owner:</span>
        <span><select ng-init="update_dialog.owner = ngDialogData.ticket.Owner" ng-model="update_dialog.owner" ng-options="login as name for ( login, name ) in rt_users"></select></span>
    </div>
    <div>
        <span>Requestors:</span>
        <span>{{ngDialogData.ticket.Requestors}}</span>
    </div>
    <div><span>Link:</span><span><a href="{{ngDialogData.ticket.link}}" target="_blank">Go to RT</a></span></div>

</div>
<div>
    <a class="md-raised md-primary md-button md-default-theme" ng-click="update_ticket() && closeThisDialog()" target="_blank">Update ticket</a>
</div>
<div ng-switch on="history" class="history">
    History:
    <div ng-switch-when="undefined">
        <img src="/images/loader.gif"/>
    </div>
    <div ng-switch-otherwise ng-repeat="item in history" style="white-space: pre-line; font-size: 60%; line-height: normal;">
        <hr/>
        <div>Creator: {{item.Creator}}</div>
        <div><b>{{item.Description}}</b></div>
        <div>{{item.Content}}</div>
    </div>
</div>
