@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,500,700");

body {
    font-family: "Open Sans", sans-serif;
    min-height: 100%;
}

#login-screen {
    height: 100vh;
}

.db-top {
    padding: 5px;
}

.db-ticket-card .md-title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
}

.db-ticket-desc {
    font-size: 75%;
    font-weight: 300;
}

.db-card-content {
    padding: 10px;
}

.db-card-content span {
    padding: 3px;
}

.db-card-content div {
    display: table-row;
}

.db-card-content span {
    font-size: 80%;
    display: table-cell;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
}

.db-column-content {
    min-height: 100px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.db-lv-avatar-img {
    background-repeat: no-repeat;
    background-position: 50%;
    width: 190px;
    height: 190px;
    margin: 5px;
}

.db-history-items {
    font-size: 80%;
}

.db-history-items p {
    margin: 0 0 2em 1em;
    white-space: pre-line;
}

.db-ticket-card {
    cursor: move;
}

#db-top-toolbar .md-toolbar-tools {
    background: url(/images/bywater-logo.png) 20px 16px no-repeat;
    padding-left: 62px;
}

.db-history-entry-header h4 {
    font-weight: normal;
    margin-left: 1.5em;
}

/* ***** */

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
}

.as-sortable-placeholder {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0);
    border: dashed 1px;
}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;

    display: table;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0);
}

.as-sortable-hidden {
    display: none !important;
}

/* ***** */

.as-sortable-drag md-card {
    border-collapse: separate;
    border-spacing: 10px;
}

md-toolbar {
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;
    min-height: 80px;
}

.md-toolbar-tools {
    max-height: none;
    height: auto;
    min-height: 64px;
}

.md-toolbar-tools h2 {
    margin-right: 16px;
}

.md-button .fa {
    font-size: 150%;
}

md-grid-list {
    margin: 8px 16px;
}

/* This ridiculous selector is required in order to beat the default styling */
md-grid-list md-grid-tile md-grid-tile-footer h3 {
    font-weight: bold;
}


.bd-modal-ticket-tabs md-tab-content {
    background: rgba(0,0,0,0.05);
}