<md-dialog class="db-view-search-popup" flex="80" flex-sm="90">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Search</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="search.close_dialog()" aria-label="Close">
				<md-icon class="fa-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content layout="row" layout-sm="column">
			<md-content flex layout-fill layout-padding>
				<div flex="100">
					<md-input-container flex="100">
						<label>RT query:</label>
						<input ng-model="search.query" flex="100">
					</md-input-container>
					
					<md-button class="md-raised md-primary" layout-align="center top" flex ng-click="search.search()">Search</md-button>
				</div>
				
				<div layout="row" layout-sm="column" layout-align="space-around" ng-if="search.progress" class="db-view-search-popup__progress">
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</div>

				<div layout="row" layout-sm="column" layout-align="space-around" ng-if="!search.progress && search.error" class="db-view-search-popup__error">{{ search.error }}</div>
				
				<md-content ng-if="!search.progress && !search.error">
					<md-list>
						<div ng-repeat="(id, ticket) in search.tickets" layout-padded layout="column">
							<a href="" ng-click="search.open_ticket(id)">#{{id}} -- {{ticket.Subject}}</a>
						</div>
					</md-list>
				</md-content>
			</md-content>
	</md-dialog-content>
</md-dialog>
