<md-dialog class="db-ticket-popup" flex="80" flex-sm="90">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div>
                    <h2>#{{ticket_id}} -- {{ticket.Subject}}</h2>
                        <span ng-repeat="data in popup_config.header_row" ng-if="this[data[1]][data[2]]" class="db-ticket-popup__header-item">{{data[0]}}: <b>{{ this[data[1]][data[2]] }}</b></span>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close_dialog()" aria-label="Close">
                    <md-icon class="fa-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="row" layout-sm="column">
            <md-content flex>
                <md-tabs md-selected="selected_tab_index">
                    <md-tab label="History">
                        <div ng-include="'/partials/ticket-popup/history.html'"></div>
                    </md-tab>

                    <md-tab label="RT details">
                        <md-content layout-padding>
                            <div layout="row" layout-sm="column">
                                <div class="md-list-item-text flex-sm-100 flex-25">
                                    <md-input-container>
                                        <label>Status:</label>
                                        <md-select ng-model="ticket.Status">
                                            <md-option ng-value="status" ng-repeat="status in statuses">{{ status }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="md-list-item-text flex-sm-100 flex-25">
                                    <md-input-container>
                                        <label>Queue:</label>
                                        <md-select ng-model="ticket.Queue">
                                            <md-option ng-value="queue.name" ng-repeat="queue in queues">{{ queue.name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="md-list-item-text flex-sm-100 flex-25">
                                    <md-input-container>
                                        <label>Owner:</label>
                                        <md-select ng-model="ticket.Owner">
                                            <md-option ng-value="login" ng-repeat="(login, name) in rt_users">{{ name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="md-list-item-text flex-sm-100 flex-25">
                                    <md-input-container>
                                        <label>Requestors:</label>
                                        <input type="text" value="{{ ticket.Requestors }}" readonly disabled>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" layout-align="end center" layout-sm="column">
                                <md-button class="md-raised md-primary" ng-click="update_ticket()">Update ticket</md-button>
                                <md-button class="md-raised" href="{{ticket.link}}" target="_blank">Go to RT</md-button>
                            </div>
                        </md-content>
                    </md-tab>

                    <md-tab label="SugarCRM">
                        <div ng-switch on="sugar_crm_data">
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-switch-when="undefined">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>
                            <div ng-switch-when="error" class="sugar-contacts__error">Unknown server error ocurred, please try again.</div>
                            <div ng-switch-when="null" class="sugar-contacts__empty">No contact information was found.</div>
                            <div ng-switch-otherwise>
                                <h3 layout-padding>Contacts</h3>
                                <section ng-repeat="(contactKey, contact) in sugar_crm_data_parsed track by $index" class="sugar-contact" ng-init="showContact[$index] = contacts_count > 1 ? false : true">
                                    <div class="sugar-contact__label" ng-class-odd="'sugar-contact__label--odd'" ng-click="showContact[$index] = !showContact[$index]">{{ contactKey }}</div>
                                    <div class="sugar-contact__more-info ng-hide" ng-show="showContact[$index]">
                                        <md-list-item class="sugar-contact__row" layout="row" layout-sm="column" ng-repeat="row in contact" ng-class="{'sugar-contact__row--odd': $odd}">
                                            <div class="sugar-contact__column" layout="row" layout-sm="column" layout-align="space-between center">
                                                <div class="sugar-contact__key md-caption"><b>{{ row[0].key }}:</b></div>
                                                <div class="sugar-contact__value"><small>{{ row[0].value }}</small></div>
                                            </div>
                                            <div class="sugar-contact__column" layout="row" layout-sm="column" layout-align="space-between center">
                                                <div class="sugar-contact__key md-caption"><b>{{ row[1].key }}:</b></div>
                                                <div class="sugar-contact__value"><small>{{ row[1].value }}</small></div>
                                            </div>
                                            <md-divider></md-divider>
                                        </md-list-item>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-content>
        </md-dialog-content>
    </form>
</md-dialog>
