<md-dialog class="db-ticket-popup" flex="80" flex-sm="90">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>#{{ticket_id}} -- {{ticket.Subject}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close_dialog()" aria-label="Close">
                    <md-icon class="fa-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="row" layout-sm="column">
            <md-content flex>
                <md-tabs md-selected="selected_tab_index">
                    <md-tab label="RT details">
                        <md-content layout-padding>
                            <div layout="row" layout-sm="column">
                                <div class="md-list-item-text flex-sm-100 flex-25">
                                    <md-input-container>
                                        <label>Status:</label>
                                        <md-select ng-model="ticket.Status">
                                            <md-option ng-value="status" ng-repeat="status in statuses">{{ status }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="md-list-item-text flex-sm-100 flex-25">
                                    <md-input-container>
                                        <label>Queue:</label>
                                        <md-select ng-model="ticket.Queue">
                                            <md-option ng-value="queue.name" ng-repeat="queue in queues">{{ queue.name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="md-list-item-text flex-sm-100 flex-25">
                                    <md-input-container>
                                        <label>Owner:</label>
                                        <md-select ng-model="ticket.Owner">
                                            <md-option ng-value="login" ng-repeat="(login, name) in rt_users">{{ name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="md-list-item-text flex-sm-100 flex-25">
                                    <md-input-container>
                                        <label>Requestors:</label>
                                        <input type="text" value="{{ ticket.Requestors }}" readonly disabled>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" layout-align="end center" layout-sm="column">
                                <md-button class="md-raised md-primary" ng-click="update_ticket()">Update ticket</md-button>
                                <md-button class="md-raised" href="{{ticket.link}}" target="_blank">Go to RT</md-button>
                            </div>
                        </md-content>
                    </md-tab>

                    <md-tab label="History">
                        <md-content ng-switch on="history">
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-switch-when="undefined">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>
                            <md-list ng-switch-otherwise class="tickets-history" >
                                <md-list-item ng-repeat="item in history" class="ticket-history" ticket-history="item"></md-list-item>
                            </md-list>
                        </md-content>
                    </md-tab>

                    <md-tab label="Add correspondence">
                        <md-content layout-padding>
                            <md-input-container>
                                <label for="corr_ta">Text</label>
                                <textarea id="corr_ta" ng-model="correspondence" md-no-autogrow class="correspondence-textarea"></textarea>
                            </md-input-container>
                            <md-button class="md-raised md-primary" ng-click="add_correspondence()">Add correspondence</md-button>
                        </md-content>
                    </md-tab>

                    <md-tab label="SugarCRM">
                        <div ng-switch on="sugar_crm_data">
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-switch-when="undefined">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>
                            <md-list ng-switch-otherwise ng-repeat="contact in sugar_crm_data_parsed" class="sugar-contact">
                                <md-list-item class="sugar-contact__row" layout="row" layout-sm="column" ng-repeat="row in contact" ng-class="{'sugar-contact__row--odd': $odd}">
                                    <div class="sugar-contact__column" layout="row" layout-sm="column" layout-align="space-between center">
                                        <div class="sugar-contact__key md-caption"><b>{{ row[0].key }}:</b></div>
                                        <div class="sugar-contact__value"><small>{{ row[0].value }}</small></div>
                                    </div>
                                    <div class="sugar-contact__column" layout="row" layout-sm="column" layout-align="space-between center">
                                        <div class="sugar-contact__key md-caption"><b>{{ row[1].key }}:</b></div>
                                        <div class="sugar-contact__value"><small>{{ row[1].value }}</small></div>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-content>
        </md-dialog-content>
    </form>
</md-dialog>
