<md-dialog class="db-ticket-popup">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>#{{ticket_id}} -- {{ticket.Subject}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close_dialog()" aria-label="Close">
                    <md-icon class="fa-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-list>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>Status:</h3>
                        <p>
                            <select ng-model="ticket.Status" ng-options="status as status for status in statuses"></select>
                        </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>Queue:</h3>
                        <p>
                            <select ng-model="ticket.Queue" ng-options="queue.name as queue.name for queue in queues"></select>
                        </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>Owner:</h3>
                        <p>
                            <select ng-model="ticket.Owner" ng-options="login as name for ( login, name ) in rt_users"></select>
                        </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>Requestors:</h3>
                        <p>
                            {{ticket.Requestors}}
                        </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>Link:</h3>
                        <p>
                            <a href="{{ticket.link}}" target="_blank">Go to RT</a>
                        </p>
                    </div>
                </md-list-item>
            </md-list>
<!--<div>-->
    <!--<a class="md-raised md-primary md-button md-default-theme" ng-click="update_ticket() && closeThisDialog()" target="_blank">Update ticket</a>-->
<!--</div>-->
            <md-list class="db-history" ng-switch on="history">
                <md-subheader>History:</md-subheader>
                <div ng-switch-when="undefined">
                    <img src="/images/loader.gif"/>
                </div>
                <md-list-item ng-switch-otherwise ng-repeat="item in history" class="db-items">
                    <div class="md-list-item-text">
                        <h3>{{item.Creator}}</h3>
                        <h4>{{item.Description}}</h4>
                        <p>{{item.Content}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-dialog-content>
    </form>
</md-dialog>
