<md-dialog class="db-ticket-popup" flex="80" flex-sm="90">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>View settings</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="close_dialog()" aria-label="Close">
				<md-icon class="fa-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content layout="row" layout-sm="column">
		<form>
			<md-content flex layout-padding>
				<md-input-container style="width: 100%;" ng-repeat="column in columns">
					<label>{{column.name}}:</label>
					<input ng-model="column.rt_query">
				</md-input-container>
			</md-content>
		</form>
	</md-dialog-content>
</md-dialog>
