.bugzilla-bug b {
    font-weight: 600;
}
.bugzilla-bug__label {
    background: #fff;
    border-bottom: 1px solid #eeeeee;
    color: #2196F3;
    outline: 0;
    padding: 10px 15px;
}
.bugzilla-bug__label:first-child {
    border-top: 1px solid #eeeeee;
}
.bugzilla-bug__label:hover {
    cursor: pointer;
    background: #f2f2f2;
}

.bugzilla-bug__description {
    background: #f9f9f9;
    font-size: 0.8571rem;
    padding: 10px 15px;
}

.bugzilla-bug__comment-header {
    background: rgba(21,101,192,.05);
    padding: 5px 15px;
}
.bugzilla-bug__comment-text {
    background: #f2f2f2;
    font-family: Consolas,Menlo,Monaco,monospace;
    font-size: .8571rem;
    white-space: pre-wrap;
    padding: 5px 15px 10px 30px;
    color: #666;
}

