<md-content ng-switch on="ticketPopup.history">
    <div layout="row" layout-sm="column" layout-align="space-around" ng-switch-when="undefined">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-switch-otherwise>
        <div class="ticket-history__show-correspondence" ng-show="!ticketPopup.showCorrespondence" ng-init="ticketPopup.showCorrespondence = false">
            <md-button class="md-raised md-primary" ng-click="ticketPopup.showCorrespondence = true">Add correspondence</md-button>
        </div>
        <div layout="row" class="ticket-history__correspondence ng-hide" ng-show="ticketPopup.showCorrespondence">
            <div flex="75">
                <md-content layout-padding>
                    <div>
                        <md-input-container class="md-block">
                            <label for="corr_ta">Text</label>
                            <textarea id="corr_ta" ng-model="ticketPopup.message" md-no-autogrow class="correspondence-textarea"></textarea>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-radio-group ng-model="ticketPopup.privacy" layout="row">
                            <md-radio-button value="private">Private</md-radio-button>
                            <md-radio-button value="public">Public</md-radio-button>
                        </md-radio-group>
                        <div flex></div>
                        <md-button class="md-raised md-primary" ng-click="ticketPopup.add_correspondence()">Save correspondence</md-button>
                        <md-button ng-click="ticketPopup.showCorrespondence = false">Cancel</md-button>
                    </div>
                </md-content>
            </div>
            <div flex>
                <md-list class="ticket-history__client md-whiteframe-1dp">
                    <md-list-item ng-repeat="data in ticketPopup.popup_config.history_column" ng-if="ticketPopup.is_history_data(data)">
                        <small>{{data[0]}}: <span class="ticket-history__client-value">{{ ticketPopup.get_history_data(data) }}</span></small>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
    <div class="ticket-histories">
        <md-divider></md-divider>
        <md-list>
            <md-list-item ng-repeat="item in ticketPopup.history" class="ticket-history" ticket-history="item" >
            </md-list-item>
        </md-list>
    </div>
</md-content>